body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --link-color: #002147;
  --container-bg: #f4f4f4;
  --box-shadow: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1a1a1a;
    --text-color: #e4e4e4;
    --link-color: #0066cc;
    --container-bg: #333333;
    --box-shadow: rgba(255, 255, 255, 0.1);
  }
}

.container {
  text-align: center;
  padding: 40px;
}

h1,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  margin: 0 10px;
  font-size: 24px;
  color: var(--text-color);
}

.social-links a:hover {
  color: #0066cc;
}